{% extends "template.html" %}
{% block template %}
<div class="card-panel row">
    <form class="col s12" action="{{ url_for('create') }}" method="POST" autocomplete="off">
        <div class="row">
            <div class="input-field col s12 m12 l12">
                <input type="text" id="name" name="name" class="form-control">
                <label for="name">Name*</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12 m12 l12">
                <input type="text" id="category" name="category" class="form-control">
                <label for="category">Category*</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12 m12 l12">
                <input type="text" id="console" name="console" class="form-control">
                <label for="console">Console</label>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m12 l12 right-align">
                <button type="submit" class="btn btn-primary btn-save">Save</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}